groups:
- name: service-alerts
  rules:
  - alert: NodeExporterDown
    expr: up{job="node_exporter"} == 0
    for: 15s
    labels:
      severity: critical
    annotations:
      description: "Node Exporter is down on {{ $labels.instance }}"
